/* index用 */
p, h2 {
  margin: 0;
}

.session-container {
  display: flex;
  flex-direction: column;
}

.session-content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.session-index-item {
  padding: 20px 30px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* タイトル */
.session-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.session-title h2 {
  font-weight: 600;
}

.session-title h2:hover {
  color: #3ecdc6;
}

.session-title p {
  margin-left: 20px;
}

/* GMアイコン */
.gm-icon {
  float: left;
  padding-left: 25px;
  text-align: left;
}

.gm-icon img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-right: 20px;
}

/* GM / PL ボックス */
.gm-box,
.pl-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.gm-box p,
.pl-box p {
  width: 2em;
}

.gm-name,
.pl-name {
  margin-left: 1em;
}

.pl-list {
  display: flex;
  flex-direction: row;
}

/* 日付 */
.time {
  margin-top: 10px;
}

/* スマホ対応 */
@media all and (max-width: 670px) {
  .session-index-item {
    padding: 5px;
  }

  .session-title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .session-title h2 {
    font-size: 22px;
    width: calc(100% - 20px);
  }

  .gm-icon {
    padding: 0;
    margin: 5px;
  }

  .gm-box,
  .pl-box {
    margin-bottom: 5px;
  }

  .session-title p {
    margin-left: 0;
  }

  .pl-list {
    flex-direction: column;
  }

  .time {
    text-align: right;
    margin-right: 1em;
  }
}

/* ===== セッション登録ページ（logs/new） ===== */

.create {
  padding: 20px 30px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: calc(100% - 20px);
  margin: 10px;
  font-size: 20px;
}

.create > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.text-width {
  width: 2em;
}

.gm-new input {
  width: 200px;
}

.pl-new {
  width: 200px;
  margin-right: 1em;
}

.pc-new {
  margin-left: 5px;
  width: 50%;
}

.title-new input {
  height: 30px;
  width: 500px;
}

.title-new p,
.system-new p {
  width: 9em;
}

.date-new input {
  width: 200px;
}

.create textarea {
  width: 100%;
}

/* ===== show用 ===== */

.session-log {
  display: flex;
  flex-direction: column;
}

.session-date {
  padding: 20px 30px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: calc(100% - 20px);
  margin: 10px;
  font-size: 20px;
}

.title {
  font-size: 25px;
  font-weight: 600;
}

.session-date img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-right: 20px;
}

.title-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.system-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 20px 0;
  margin-bottom: 5px;
}

.show-tag {
  border-bottom: dashed 2px #000;
}

.gm-data {
  display: flex;
  flex-direction: row;
  border-bottom: dashed 2px #000;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.pl-show {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.plpc-list {
  border-bottom: dashed 2px #000;
}

.pc {
  margin-left: 2em;
}

.comments {
  padding: 20px 30px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: calc(100% - 20px);
  margin: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: dashed 2px #000;
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-right: 20px;
}

.comment-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% - 250px);
}

.comment-form {
  padding: 20px 30px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.comment-form textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.comment-form input {
  font-size: 24px;
  background-color: #5dca88;
  color: #fff;
  box-shadow: 0 5px #1a7940;
  border-radius: 4px;
  border: 0;
  opacity: 0.8;
  cursor: pointer;
  width: 200px;
  margin: 10px 0 0 auto;
}

.comment-form input:hover {
  opacity: 1;
}

.comment-form input:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.comment-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media all and (max-width: 670px) {
  .comment-form input {
    width: 100%;
  }
}
